.gpt3__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}


.gpt3__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.gpt3__navbar-links_logo {
    margin-right: 2rem;
}


.gpt3__navbar-links_logo img {
    width: 62.56px;
    height: 16.02px;
}