.gpt3__possibility {
    display: flex;
    flex-direction: row;
}


.gpt3__possibility-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
}


.gpt3__possibility-image img {
    width: 100%;
    height: 100%;
}


.gpt3__possibility-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}


.gpt3__possibility-content button {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #000000;
    font-family: var(--font-family);
    background: rgba(245, 194, 136, 0.911);
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 1rem;
}


.gpt3__possibility-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin-bottom: 1rem;
}


.gpt3__possibility-content p {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-text) ;
    margin-bottom: 2rem;
}


@media screen and (max-width: 950px) {
    .gpt3__possibility {
        flex-direction: column;
    }

    .gpt3__possibility-image {
        margin: 1rem 0;
    }

    .gpt3__possibility-content {
        margin-top: 2rem;
    }
}



@media screen and (max-width: 500px) {
    .gpt3__possibility-content button {
        font-size: 12px;
        line-height: 20px;
        font-weight: 300;
        color: #000000;
        font-family: var(--font-family);
        background: rgba(245, 194, 136, 0.911);
        outline: none;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        border-radius: 20px;
        margin-top: 0;
    }
}

